<!DOCTYPE html>
<html>
<head>
	<title>Add New Puppy for Adotpion</title>
</head>
<body>
	<h1>Puppy for Adoption</h1>
	<form method="POST" action="/">
		<p>Enter Puppy Name: </p>
		<textarea name="name"></textarea>
		<p>Puppy Breed: </p>
		<textarea name="breed"></textarea>
		<p>Puppy Age: </p>
		<textarea name="age"></textarea>
		<button type="submit" value="submit">Submit</button>
	</form>
</body>
</html>